/*
--- Layout ---
Mobile: 375px
Desktop: 1440px

--- Typography ---
Font size (inputs): 32px
Family: [Poppins](https://fonts.google.com/specimen/Poppins)
Weights: 400i, 700, 800i
*/

:root {
  /* --- Primary --- */
  --clr-Purple: hsl(259, 100%, 65%);
  --clr-Light-red: hsl(0, 100%, 67%);
  /* --- Neutral --- */
  --clr-White: hsl(0, 0%, 100%);
  --clr-Off-white: hsl(0, 0%, 94%);
  --clr-Light-grey: hsl(0, 0%, 86%);
  --clr-Smokey-grey: hsl(0, 1%, 44%);
  --clr-Off-black: hsl(0, 0%, 8%);
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins-italic';
  src: url('../fonts/Poppins-Italic.ttf');
}
@font-face {
  font-family: 'Poppins-800';
  src: url('../fonts/Poppins-ExtraBoldItalic.ttf');
}


body {
  min-height: 100vh;
  padding: 5.5rem 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr;
  place-content: start center;
  background-color: var(--clr-Off-white);
}

main {
  background-color: #fff;
  border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
  margin-inline: auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 52.5rem;
}
.form--wrapper {
  border-bottom: 2px solid var(--clr-Light-grey);
  position: relative;
  padding-block: 1.7rem 4rem;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 34rem;
  place-items: start center;
}
label {
  display: grid;
  gap: 0.4em;
  color: var(--_err, var(--clr-Smokey-grey));
}
label span {
  margin-bottom: 1px;
  font-size: 0.7rem;
  font-family: 'Poppins-Bold';
  letter-spacing: 3.75px;
  line-height: 1;
}
label input {
  width: 100%;
  display: block;
  border: 1px solid var(--_err, var(--clr-Light-grey));
  font-size: 1.25rem;
  padding: 0.55em 0.75em;
  font-family: 'Poppins-Bold';
  border-radius: 0.4em;
}
[class^='input--'] {
  display: none;
  color: var(--clr-Light-red);
  letter-spacing: 0;
  font-size: 0.85rem;
  font-family: 'Poppins-italic';
}
/* error handling */
label.empty .input--empty {
  display: block;
}
label.err .input--invalid {
  display: block;
}
label.empty,
label.err {
  --_err: var(--clr-Light-red);
}

[type='submit'] {
  position: absolute;
  background-color: var(--clr-Purple);
  bottom: 0;
  transform: translateY(50%);
  border-radius: 10rem;
  padding: 1.55rem;
  aspect-ratio: 1;
}
[type='submit'] img {
  max-width: 1.5rem;
}
.result {
  padding-block: 3.9rem 1.4rem;
}
.result h1 {
  font-size: 3.45rem;
  font-family: 'Poppins-800';
  line-height: 1.125;
  display: flex;
  gap: 0.5rem;
}  

[class^='result--'] {
  color: var(--clr-Purple);
}
@media (width > 720px) {
  body {
    place-content: center;
    padding: 0rem 1rem;
  }
  main {
    padding: 3.5rem 3.5rem 3.4rem;
    position: relative;
    border-bottom-right-radius: 12.5rem;
  }
  .form--wrapper {
    padding-block: 0.2rem 2.75rem;
  }
  label span {
    font-size: 0.87rem;
    margin-bottom: 0.45em;
  }
  form {
    gap: 2rem;
    position: static;
  }
  label {
    font-size: 0.9rem;
    letter-spacing: 3px;
    font-family: 'Poppins-Bold';
    margin-bottom: 0.2em;
  }
  input[type='text'] {
    font-size: 2rem;
    padding: 0.345em 0.73em;
    border-radius: 0.25em;
  }
  [type='submit'] {
    right: 0;
  }
  [type='submit'] img {
    max-width: none;
  }
  .result {
    padding-block: 2.9rem 0rem;
  }
  .result h1 {
    font-size: 6.45rem;
    gap: 0.6rem;
    line-height: 1.11;
  }
  [class^='result--'] {
    letter-spacing: -1px;
  }
  .result h1 span:last-child {
    letter-spacing: -1.5px;
  }


}
